// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cup-selector-label {
  width: 150px;
  height: 150px;
  background-size: 150px 150px;
}